nixie_firmware/Debug/
nixie_firmware/Release/
hardware/__Previews/
hardware/NIXIE_LAMPS/__Previews/
hardware/NIXIE_LAMPS/History/
hardware/NIXIE_LAMPS/Project Logs for NIXIE_3/
hardware/NIXIE_uC/__Previews/
hardware/NIXIE_uC/History/
hardware/NIXIE_uC/Project Logs for uC/
